body {
  margin: 0;
  background-color: #f2f4f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  width: 100%;
}

.btn-primary {
  background-color: #003caa !important;
}